@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
:root {
  --FullSliderBar: #a5f3eb;
  --SliderBackround: #10d5c2;
  --DiscountBackground: #feece7;
  --DiscountText: #ff8c66;
  --CTAText: #bdccff;
  --PricingComponentBackground: hsl (0, 0%, 100%);
  --MainBackground: #fafbff;
  --EmptySliderBar: #eaeefb;
  --ToggleBackground: #cdd7ee;
  --Text: #858fad;
  --TextCTABackground: #293356;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
color: var(--Text);


}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
  padding: 5px 5px 5px 0;
}
ul li img {
    margin-right: 5px;
}
.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}
.title-text {
  z-index: 1;
  text-align: center;
}
hr {
    opacity: 0.2;
    margin-bottom: 10px;
}
.title-text h1{
    color: var(--TextCTABackground);

}
.pattern-circles {
  z-index: -1;
  position: absolute;
}
/** Switch
 -------------------------------------*/

.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: var(--FullSliderBar);
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #fff;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* End Switch
 -------------------------------------*/

.card {
  background: #fff;
  padding: 20px;
  border-radius: 1rem;
  width: 35rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-header,
.billing,
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.switch input {
  opacity: 0;
}

.switch {
  display: inline-block;
  width: 35px;
  height: 20px;
  position: relative;
  margin: 0 20px;
}

.toggle-slider {
  position: absolute;
  background-color: hsl(223, 50%, 87%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
  transition: all 0.2s ease;
}

.toggle-slider:hover {
  background-color: hsl(174, 86%, 45%);
}

.toggle-slider::before {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  left: 3px;
  top: 3px;
  transition: all 0.4s ease-in-out;
}

.switch input:checked + .toggle-slider:before {
  transform: translateX(25px);
}

.billing {
  justify-content: center;
  margin: 30px 0;
}
.card-header {
  margin-bottom: 20px;
}
.page-views {
    color: var(--Text);
} 
.month{
    color: var(--TextCTABackground);
    font-size: 1.7rem;
}
input#price-slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  height: 10px;
  background: linear-gradient(
    to right,
    hsl(174, 77%, 80%) 0%,
    hsl(174, 77%, 80%) 50%,
    hsl(224, 65%, 95%) 0%,
    hsl(224, 65%, 95%) 100%
  );
}

input#price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: hsl(174, 86%, 45%);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 7px 10px 4px rgba(16, 213, 194, 0.2);
}

input#price-slider::-webkit-slider-thumb:hover {
  background-color: hsl(174, 77%, 80%);
}

.discount{
    background: var(--DiscountBackground);
    padding: 5px 8px;
    border-radius: 1rem;
    color: var(--DiscountText);
    margin-left: 20px;
}
.btn{
    background: var(--TextCTABackground);
    color: #fff;
    padding: 10px 25px;
    border-radius: 2rem;
    cursor: pointer;
}

.cst2 {
  display: none;
}

