@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
:root {
  --FullSliderBar: #a5f3eb;
  --SliderBackround: #10d5c2;
  --DiscountBackground: #feece7;
  --DiscountText: #ff8c66;
  --CTAText: #bdccff;
  --PricingComponentBackground: hsl (0, 0%, 100%);
  --MainBackground: #fafbff;
  --EmptySliderBar: #eaeefb;
  --ToggleBackground: #cdd7ee;
  --Text: #858fad;
  --TextCTABackground: #293356;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
color: var(--Text);


}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
  padding: 5px 5px 5px 0;
}
ul li img {
    margin-right: 5px;
}
.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}
.title-text {
  z-index: 1;
  text-align: center;
}

.title-text h1{
    color: var(--TextCTABackground);

}
.pattern-circles {
  z-index: -1;
  position: absolute;
}
/** Switch
 -------------------------------------*/

.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: var(--FullSliderBar);
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #fff;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* End Switch
 -------------------------------------*/

.card {
  background: #fff;
  padding: 20px;
  border-radius: 1rem;
  width: 35rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-header,
.billing,
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.billing {
  justify-content: center;
  margin: 30px 0;
}
.card-header {
  margin-bottom: 20px;
}
.page-views {
    color: var(--Text);
} 
.month{
    color: var(--TextCTABackground);
    font-size: 1.7rem;
}
.slider {
  width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 1rem;
  background: var(--EmptySliderBar);
}

.slider::-webkit-slider-thumb {
    box-shadow: 2px 3px 4px 1px hsla(174, 77%, 80%, 0.5);
    border: 0px solid #000000;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--SliderBackround);
    background-image: url('./images/icon-slider.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
}
.slider:active,
.slider:hover {
  background-color: var(--FullSliderBar);
}
.switch {
    margin: 20px;
    cursor: pointer;
}
.discount{
    background: var(--DiscountBackground);
    padding: 5px 8px;
    border-radius: 1rem;
    color: var(--DiscountText);
    margin-left: 20px;
}
.btn{
    background: var(--TextCTABackground);
    color: #fff;
    padding: 10px 25px;
    border-radius: 2rem;
    cursor: pointer;
}

